@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch");
@import url("https://fonts.googleapis.com/css?family=Overlock");
* {
  margin: 0;
  padding: 0; }

html, body {
  background-color: #00ff85;
  width: 100%;
  font-size: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  html .head_box, body .head_box {
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Standard syntax */
    border-radius: 0.5rem;
    width: 80rem;
    height: 80%;
    box-shadow: 4px 4px 20px #00ba5e;
    background-color: #4cffc1; }
    html .head_box .heading, body .head_box .heading {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      font-size: 5rem;
      color: white;
      font-family: "Cabin Sketch",sans-serif;
      background-color: chartreuse;
      text-align: center;
      font-weight: 900; }
    html .head_box .code, body .head_box .code {
      width: 100%; }
      html .head_box .code pre code, body .head_box .code pre code {
        font-size: 2em; }
    html .head_box .programs, body .head_box .programs {
      width: 100%;
      height: 100%; }
      html .head_box .programs .program, body .head_box .programs .program {
        font-size: 4em;
        font-family: "Overlock",sans-serif;
        text-shadow: 2px 2px 3px black,1px 1px 2px black;
        text-align: center;
        transition: 300ms;
        cursor: pointer; }
        html .head_box .programs .program a, body .head_box .programs .program a {
          color: black;
          text-decoration: none; }
          html .head_box .programs .program a:focus, body .head_box .programs .program a:focus {
            color: wheat;
            text-shadow: none; }
        html .head_box .programs .program:hover, body .head_box .programs .program:hover {
          background-color: #cdd75c;
          font-size: 5em;
          box-shadow: 2px 4px 4px #3bbd8c; }

@media screen and (max-width: 100px) {
  body, html {
    font-size: 0.5px; } }
@media screen and (max-width: 200px) and (min-width: 100px) {
  body, html {
    font-size: 1px; } }
@media screen and (max-width: 300px) and (min-width: 200px) {
  body, html {
    height: 140px; } }
@media screen and (max-width: 400px) and (min-width: 300px) {
  body, html {
    font-size: 3px; } }
@media screen and (max-width: 500px) and (min-width: 400px) {
  body, html {
    font-size: 4px; } }
@media screen and (max-width: 600px) and (min-width: 500px) {
  body, html {
    font-size: 5px; } }
@media screen and (max-width: 700px) and (min-width: 600px) {
  body, html {
    font-size: 5.5px; } }
@media screen and (max-width: 800px) and (min-width: 700px) {
  body, html {
    font-size: 6px; } }
@media screen and (max-width: 900px) and (min-width: 800px) {
  body, html {
    font-size: 6.5px; } }
@media screen and (max-width: 1000px) and (min-width: 900px) {
  body, html {
    font-size: 7px; } }
@media screen and (max-width: 1100px) and (min-width: 1000px) {
  body, html {
    font-size: 7.5px; } }
@media screen and (max-width: 1200px) and (min-width: 1100px) {
  body, html {
    font-size: 8px; } }
@media screen and (max-width: 1300px) and (min-width: 1200px) {
  body, html {
    font-size: 8.5px; } }
@media screen and (max-width: 1400px) and (min-width: 1300px) {
  body, html {
    font-size: 9px; } }
@media screen and (max-width: 1500px) and (min-width: 1400px) {
  body, html {
    font-size: 9.5px; } }
@media screen and (max-width: 1600px) and (min-width: 1500px) {
  body, html {
    font-size: 10px; } }
@media screen and (max-width: 2000px) and (min-width: 1600px) {
  body, html {
    font-size: 10.5px; } }
@media screen and (max-width: 2100px) and (min-width: 2000px) {
  body, html {
    font-size: 15px; } }
@media screen and (max-width: 2200px) and (min-width: 2100px) {
  body, html {
    font-size: 20px; } }
@media screen and (max-width: 2300px) and (min-width: 2200px) {
  body, html {
    font-size: 22px; } }
@media screen and (max-width: 2400px) and (min-width: 2300px) {
  body, html {
    font-size: 25px; } }
@media screen and (max-width: 2500px) and (min-width: 2400px) {
  body, html {
    font-size: 28px; } }
@media screen and (max-width: 2600px) and (min-width: 2500px) {
  body, html {
    font-size: 30px; } }
@media screen and (max-width: 2700px) and (min-width: 2600px) {
  body, html {
    font-size: 30px; } }
@media screen and (max-width: 2800px) and (min-width: 2700px) {
  body, html {
    font-size: 30px; } }
@media screen and (max-width: 2900px) and (min-width: 2800px) {
  body, html {
    font-size: 36px; } }
@media screen and (max-width: 3000px) and (min-width: 2900px) {
  body, html {
    font-size: 37px; } }
@media screen and (max-width: 3100px) and (min-width: 3000px) {
  body, html {
    font-size: 38px; } }
@media screen and (max-width: 3200px) and (min-width: 3100px) {
  body, html {
    font-size: 39px; } }
@media screen and (min-width: 3200px) {
  body, html {
    font-size: 40px; } }

/*# sourceMappingURL=style.css.map */
